{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block 'title' %}{% endblock %}</title>
    {% include 'partials/link-css.html' %}
    {% block 'styles' %}{% endblock %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    {% include 'menu.html' %}
    <main>
        {% block 'content' %}{% endblock %}
    </main>
    {% block 'scripts' %}{% endblock %}
</body>

<footer>
    {% include 'footer.html' %}
</footer>

</html>